/* Contnets */
/*
    1. Global Styles
    2. Center All
    3. Header
    4. Main Catagories Grid
    5. User Form
    6. Questions
    7. Page Loader
    8. Results Screen
*/


/* 1. Global */


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

:root {
    --red: #9F2323;
    --white: #F5F6F4;
    --grey: #3a3232;
    --green: #51855f;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    font-family: 'Noto Serif', serif;
    background-color: var(--white);
}

/* 2. Center All */

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 3. Header */

#header {
    background-color: var(--red);
    height: 7.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 7.5rem;
    color: var(--white);
}

#logo {
    font-size: 4rem;
    margin: 0 2rem 0 1rem;
}

.header-text {
    font-size: 2rem;
    margin: 0;
}

/* 4. Main Catagories Grid */

#main-catagory-grid {
    display: none;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 15rem;
    font-size: 3rem;
}

.grid-even {
    background-color: var(--grey);
    color: var(--white);
    flex-direction: row-reverse;
    justify-content: space-evenly;
    cursor: pointer;
}

.grid-odd {
    justify-content: space-evenly;
    cursor: pointer;
}

#welcome-person {
    background-color: var(--red);
    color: var(--white);
    font-size: 2.5rem;
    flex-direction: column;
}

/* 5. User Form */ 

#user {
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--red);
    color: var(--white);
    height: 100vh;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    text-align: center;
    display: none;
}

#user-form {
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
}

#user-form label {
    font-weight: 100;
}

#user-name {
    outline: none;
    background-color: var(--white);
    color: var(--grey);
    width: 80%;
    padding: 5px;
    font-size:2rem;
    border-radius: 2px;
}

#user-name:focus {
    background-color: var(--grey);
    color: var(--white);
}

.round-button {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--grey);
    box-shadow: 0px 0px 20px 4px rgba(245, 246, 244, 0.63);
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 2px;
}

#user-submit:hover {
    animation: 1s bounce forwards;
}

@keyframes bounce {
    0% {
        top: 0px;
    }
    20% {
        top: 4px;
    }
    40% {
        top: -2px;
    }
    60% {
        top: 4px;
    }
    80% {
        top: -2px;
    }
    100% {
        top: 0px;
    }
}


/* 6. Questions */ 

#questions {
    display: none;
    height: 100vh;
    width: 100%;
    background-color: var(--grey);
    color: var(--white);
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8rem 1rem 2rem 1rem;
}

#close-questions {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

#quiz-catagory  {
    color: var(--white);
    font-size: 1.5rem;
    text-align: left;
    position: absolute;
    top: 0;
    left: 1.5rem;

}

#score {
    position: absolute;
    top: 4rem;
    left: 1.5rem;
    font-size: 2rem;
}

#question {
    color: var(--white);
    font-size: 2.5rem;
    padding: 1rem;
}

.options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--red);
    width: 80%;
    height: auto;
    margin: auto;
}

.options-container:hover {
    box-shadow: 0px 0px 15px 5px rgba(159, 35, 35, 0.5);
}

.option {
    background-color: var(--white);
    color: var(--grey);
    font-weight: 500;
    padding: 1.8rem 2.5rem;
    margin: 0;
    height: 100%;
}

.option-text {
    color: var(--white);
    padding: 1.5rem;
    margin: 0;
    width: 100%;
    height: 100%;
}

.option-correct {
    background-color: var(--green);
    color: var(--white);
}

.option-incorrect {
    background-color: var(--red);
    color: var(--white);
}


/* 7. Page Loader */

.spin-loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--grey);
}

.spin-loader-vanish{
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* 8. Results Screen */

#results-screen {
    width: 100%;
    height: 100vh;
    background-color: var(--red);
    color: var(--white);
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

#results-screen h2, #results-screen p {
    font-size: 2.5rem;
    text-align: center;
}


/*  >=768px (Tablet) */

@media (min-width: 768px) {
    #main-catagory-grid {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 24rem;
    }

    .catagory-grid-item1 {
        grid-area: 1 / 1 / 1 / span 2;
    }

    .catagory-grid-item4 {
        grid-area: 3 / 2 / 4 / 3;
    }
}

@media (min-width: 992px) {
    #main-catagory-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 24rem;
    }  

}