/* Contnets */
/*
    1. Global Styles
    2. Center All
    3. Buttons
    4. Header
    5. Main Categories Grid
    6. Difficulty buttons
    7. User Form
    8. Questions Screen
        8.1 Answer Options
    9. Page Loader
    10. Footer 
    11. Results Screen
    12. >=768px (Tablet)
        12.1 Main Category Grid
    13. >=992px (Desktop) 
        13.1 Main Category Grid
        13.2 User Form
        13.3 Questions Screen
        13.4 Difficulty buttons
    14. >=1200px (xl - Desktop)
        14.1 Questions Screen
        14.2 Results Screen
        14.3 Main Category Grid
    15. Keyframes
*/


/* 1. Global */


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

:root {
    --red: #9F2323;
    --white: #F5F6F4;
    --grey: #3a3232;
    --green: #51855f;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    background-color: var(--white);
}

/* 2. Center All */

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 3. Buttons */

.round-button {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--grey);
    box-shadow: 0px 0px 20px 4px rgba(245, 246, 244, 0.63);
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 2px;
}

/* 4. Header */

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--red);
    height: 7.5rem;
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 7.5rem;
    color: var(--white);
}

#logo {
    font-size: 4rem;
    margin: 0 2rem 0 1rem;
}

.header-text {
    font-size: 2rem;
    margin: 0;
}

/* 5. Main Catagories Grid */

#main-category-grid {
    display: none;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 15rem;
    font-size: 3rem;
    margin-top: 16rem;
}

.grid-even {
    background-color: var(--grey);
    color: var(--white);
    flex-direction: row-reverse;
    justify-content: space-evenly;
    cursor: pointer;
}

.grid-odd {
    justify-content: space-evenly;
    cursor: pointer;
}

#welcome-person {
    background-color: var(--red);
    color: var(--white);
    font-size: 2.5rem;
    flex-direction: column;
    justify-content: space-evenly;
}

/* 6. Difficulty buttons */ 

#difficulty-buttons {
    display: none;
}

#difficulty {
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--red);
    height: 11rem;
    position: fixed;
    top: 7rem;
    left: 0;

}

#difficulty input {
    display: none;
}

.diff-label {
    font-size: 2rem;
    margin: auto;
    cursor: pointer;
    background-color: var(--grey);
    color: var(--white);
    text-align: center;
    width: 8rem;
    padding: 1rem;
    border-radius: 5px;
    position: relative;
}

#difficulty input[type='radio']:checked+label {
    box-shadow: 0px 0px 20px 4px rgba(245, 246, 244, 0.63);
}

/* 7. User Form */ 

#user {
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--red);
    color: var(--white);
    height: 100vh;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    text-align: center;
    display: none;
}

#user-form {
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
}

#user-form label {
    font-weight: 100;
}

#user-name {
    outline: none;
    background-color: var(--white);
    color: var(--grey);
    width: 80%;
    padding: 5px;
    font-size:2rem;
    border-radius: 2px;
}

#user-name:focus {
    background-color: var(--grey);
    color: var(--white);
}

#user-submit:hover, #results-button:hover {
    animation: 1s bounce forwards;
}

/* 8. Questions Screen */ 

#questions {
    display: none;
    height: 100vh;
    width: 100%;
    background-color: var(--grey);
    color: var(--white);
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8rem 1rem 2rem 1rem;
}

#close-questions {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

#quiz-category  {
    color: var(--white);
    font-size: 1.5rem;
    text-align: left;
    position: absolute;
    top: 0;
    left: 1.5rem;

}

#score {
    position: absolute;
    top: 4rem;
    left: 1.5rem;
    font-size: 2rem;
}

#question {
    color: var(--white);
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;
}

#question-number {
    position: absolute;
    top: 4rem;
    font-size: 2rem;
    right: 2rem;
}

/* 8.1 Answer Options */

.options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--red);
    width: 80%;
    height: auto;
    margin: auto;
    cursor: pointer;
}

.option {
    background-color: var(--white);
    color: var(--grey);
    padding: 1.8rem 2.5rem;
    margin: 0;
    height: 100%;
}

.option-text {
    color: var(--white);
    padding: 1.5rem;
    margin: 0;
    width: 100%;
    height: 100%;
}

.option-correct {
    background-color: var(--green);
    color: var(--white);
}

.option-incorrect {
    background-color: var(--red);
    color: var(--white);
}


/* 9. Page Loader */

.spin-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--grey);
}

.spin-loader-vanish{
    animation: vanish 1s forwards;
}

/* 10. Footer */

#developer-name {
    position: fixed;
    font-size: 1rem;
    color: var(--white);
    bottom: 0;
    left: 0;
    background-color: var(--red);
    width: 100%;
    height: 2rem;
    margin: 0;
    display: none;
}

.developer-name {
    color: var(--white);
    font-size: 2rem;
    position: fixed;
    bottom: 2rem;
    text-transform: uppercase;
}

/* 11. Results Screen */

#results-screen {
    width: 100%;
    height: 100vh;
    background-color: var(--red);
    color: var(--white);
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

#results-screen h2, #results-screen p {
    font-size: 2.5rem;
    text-align: center;
}

/*  12. >=768px (Tablet) */

@media (min-width: 768px) {
    
/* 12.1 Main Category Grid */
    #main-category-grid {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }

    .category-grid-item1 {
        grid-area: 1 / 1 / 1 / span 2;
    }

    .category-grid-item4 {
        grid-area: 3 / 2 / 4 / 3;
    }

    #question {
        line-height: 4rem;
        padding: 1rem 6rem;
    }
}

/* 13. >=992px (Desktop) */

@media (min-width: 992px) {
    
/* 13.1 Main Category Grid */   
    #main-category-grid {
        grid-template-columns: 1fr 1fr 1fr;
        height: 83vh;
    } 
    
    .category-grid-item1 {
        grid-area: 1 / 1 / 1 / span 3;
    }

    .category-grid-item4 {
        grid-area: 2 / 3 / 3 / 4;
    }

/* 13.2 User Form */
    #user-form label {
        font-size: 2.5rem;;
    }

    #user h2 {
        font-size: 4rem;
    }

    #welcome-person p {
        font-size: 4rem;
    }

/* 13.3 Questions Screen */
    #question {
        padding: 5rem 6rem;
    }

    .options-container {
        width: 60%;
    }

    .options-container:hover {
    box-shadow: 0px 0px 15px 5px rgba(159, 35, 35, 0.5);
    }

/* 13.4 Difficulty buttons */
    .diff-label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6rem;
        width: 15rem;
    }
}


/* 14. >=1200px (xl - Desktop) */

@media (min-width: 1200px) {

/* 14.1 Questions Screen */
    #quiz-category, #score {
        font-size: 2.5rem;
        left: 4rem;
    }

    #score {
        top: 6rem;
    }

    .options-container {
        width: 50%;
        font-size: 2rem;
    }

    #question, #close-questions {
        font-size: 2.5rem;
    }

    #question-number {
        top: 6rem;
        right: 4rem;
    }

    #close-questions {
        right: 4rem;
        top: 2rem;
    }

/* 14.2 Results Screen */
    #results-screen h2 {
        font-size: 8rem;
    }

    #results-screen p {
        font-size: 3rem;
    }

/* 14.3 Main Category Grid */
    #main-category-grid div p, #main-category-grid div i {
        font-size: 4rem;
    }
}

/* 15. Keyframes */

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


@keyframes bounce {
    0% {
        top: 0px;
    }
    20% {
        top: 4px;
    }
    40% {
        top: -2px;
    }
    60% {
        top: 4px;
    }
    80% {
        top: -2px;
    }
    100% {
        top: 0px;
    }
}
